.wrap {
  width: 100%;
  background-color: #262626;
}

.section_1 {
  width: 100%;
  height: 100vh;
  background-image: url(../img_Subpage/sec_1_main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  padding: 82px 106px 0;
  position: relative;
}

.sec_1_title_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sec_1_title_box > p:nth-child(1) {
  font-size: 60px;
  font-weight: 400;
}

.sec_1_title_box > p:nth-child(2) {
  font-size: 34px;
  font-weight: 300;
  margin-top: 18px;
}

.section_1 > .btn_con {
  width: 390px;
  height: 46px;
  position: absolute;
  top: 270px;
  left: 106px;
  display: flex;
  justify-content: space-between;
}

.section_1 .shop_btn,
.section_1 .buildYours_btn {
  width: 190px;
  height: 46px;
  background-color: #fff;
  font-size: 17px;
  font-weight: 500;
  color: #000;
  text-align: center;
  line-height: 46px;
}

.section_1 .buildYours_btn {
  background-color: #000;
  color: #fff;
}

/* section_1 end  */

.section_2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px 0 140px;
}

.sec_2_text_box {
  width: 737px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 74px;
}

.sec_2_text_box > p {
  font-size: 44px;
  font-weight: 400;
}

.tabBar_car {
  width: 737px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 25px;
}

.tabBar_car > p {
  font-size: 18px;
  font-weight: 400;
}

.tabBar_car > :nth-child(1) {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper_con {
  width: 100%;
  background-color: #262626;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 730px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper_con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper_con > .text_box {
  font-size: 16px;
  font-weight: 200;
  text-align: left;
}

.swiper_con > .text_box > p:nth-child(1),
.swiper_con > .text_box > p:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.swiper_con > .text_box > p:nth-child(1) {
  margin-bottom: 20px;
}

.swiper_con > .text_box > p {
  line-height: 27px;
}

.swiper_btn_con {
  width: 93%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.shop_btn,
.buildYours_btn {
  width: 170px;
  height: 45px;
  background-color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.buildYours_btn {
  background-color: #000;
  color: #fff;
}

.bottom_text_box {
  width: 86%;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.swiper-button-next, .swiper-button-prev {
  color: #fff;
}


/* .bottom_text_box > p:nth-child(1) {
  margin-right: 15px;
} */

/* 커스텀 스와이퍼 불렛 포인트를 텍스트로 대체 
  .swiper01 {
    width: 100%;
    background-color: #ccc;
  }
  
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    height: 300px;
    text-align: center;
    line-height: 300px;
    background-color: #ccddff;
  }
  
  .swiper-pagination {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
  
  .swiper-pagination-bullet {
    width: calc(100% / 3);
    margin: 0;
    line-height: 40px;
    height: 40px;
    border-radius: 0;
    background-color: none;
  }
  
  .swiper-pagination-bullet span{
    color: #fff;
  } */
/* 출처: https://mu08.tistory.com/108 [그냥, 일단 써내려가자:티스토리] */

/* section_2 end  */

.section_3 {
  width: 100%;
  height: 400px;
  padding: 86px 237px;
}

.sec_3_title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 38px;
}

.sec_3_outer_con {
  display: flex;
  justify-content: space-between;
}

.sec_3_inner_con {
  display: flex;
  justify-content: space-between;
}

.vertical_line {
  border-left: 1px solid #9e9e9e;
  height: 125px;
  opacity: 0.8;
}

.sec_3_inner_con .text_box {
  margin-left: 30px;
}

.sec_3_inner_con .text_box > p:nth-child(1) {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 39px;
}

.sec_3_inner_con .text_box > p:nth-child(2) {
  font-family: "Lora", serif;
  font-size: 18px;
  font-weight: 400;
}

/* section_3 end  */

.section_4 {
  width: 100%;
  height: 889px;
  padding: 97px 149px;
}

.sec_4_outer_con {
  width: 1606px;
  height: 695px;
  display: flex;
  justify-content: space-between;
}

.sec_4_inner_con:nth-child(1) {
  margin-right: 45px;
}

.sec_4_inner_con img {
  width: 770px;
  height: 515px;
}

.section_4 .text_box > p:nth-child(1) {
  font-size: 30px;
  font-weight: 500;
  margin-top: 19px;
  margin-bottom: 12px;
}

.section_4 .text_box > p:nth-child(2) {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

/* section_4 end  */

.section_5 {
  width: 100%;
  height: 1528px;
  padding: 68px 152px;
}

.sec_5_outer_con {
  width: 1610px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec_5_text_box {
  width: 564px;
  height: 225px;
}

.sec_5_text_box > p:nth-child(1) {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 21px;
}

.sec_5_text_box > p:nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}

.sec_5_img_box > img {
  width: 923px;
  height: 639px;
}

.sec_5_text_box_2 {
  width: 564px;
  height: 336px;
  display: flex;
  flex-wrap: wrap;
}

.first_row_text_box,
.second_row_text_box {
  width: 564px;
  display: flex;
  justify-content: space-between;
}

.first_row_text_box > .inner_text_box:nth-child(1),
.second_row_text_box > .inner_text_box:nth-child(1) {
  margin-right: 56px;
}

.first_row_text_box {
  margin-bottom: 42px;
}

.inner_text_box {
  width: 254px;
}

.inner_text_box > p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.inner_text_box > p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* section_5 end  */

.section_6 {
  width: 100%;
  padding: 71px 0 150px 0;
}

.sec_6_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec_6_title > p {
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 55px;
}

.gallery_category {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.gallery_category > p {
  font-size: 18px;
  font-weight: 500;
}

.gallery_category > p:nth-child(1) {
  font-weight: 700;
  text-decoration: underline;
}

.sec_6_swiper {
  /* width: 100%; */
  width: 900px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_6_swiper_wrapper img {
  display: block;
  width: 900px;
  object-fit: cover;
}


/* section_6 end  */

.section_7 {
  width: 100%;
  height: 100%;
  padding: 157px 80px;
}

.sec_7_title > p {
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
}

.sec_7_img_con {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.sec_7_img_con > .img_box {
  width: 550px;
  height: 550px;
  margin-right: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sec_7_img_con > .img_box:nth-child(1) {
  background-image: url(../img_Subpage/sec_7_img_1.png);
}

.sec_7_img_con > .img_box:nth-child(2) {
  background-image: url(../img_Subpage/sec_7_img_2.png);
}

.sec_7_img_con > .img_box:nth-child(3) {
  background-image: url(../img_Subpage/sec_7_img_3.png);
  margin-right: 0;
}

.sec_7_img_con .text_box {
  position: absolute;
  left: 33px;
  bottom: 36px;
}

.sec_7_img_con > .img_box p:nth-child(1) {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.sec_7_img_con > .img_box p:nth-child(2) {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sec_7_img_con .meet_btn {
  width: 160px;
  height: 57px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 57px;
  border: 1px solid #fff;
}

/* section_7 end  */

.section_8 {
  width: 100%;
  height: 100vh;
  background-image: url(../img_Subpage/sec_8_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  padding: 82px 106px 0;
  position: relative;
}

.sec_8_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.sec_8_title > p {
  font-size: 44px;
  font-weight: 400;
}

.section_8 > .btn_con {
  display: flex;
  justify-content: center;
  margin-top: 63px;
}

.section_8 .explore_ev_btn {
  width: 190px;
  height: 46px;
  background-color: #fff;
  font-size: 17px;
  font-weight: 500;
  color: #000;
  text-align: center;
  line-height: 46px;
}

/* section_8 end  */

.sec_9_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 175px;
  margin-bottom: 55px;
}

.sec_9_title > p {
  font-size: 44px;
  font-weight: 400;
}

.section_9 {
  width: 100%;
  height: 100vh;
  background-image: url(../img_Subpage/sec_9_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 80px;
}

.sec_9_text_box {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.btn_outer_con {
  display: flex;
  justify-content: center;
}

.enter_zip_btn_con {
  width: 328px;
  height: 51px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  color: #8d8d8d;
  text-align: center;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.btn_left_area {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.location_icon {
  width: 28px;
}

.btn_left_area > p {
  cursor: pointer;
}

.btn_right_area {
  width: 43px;
  display: flex;
  justify-content: space-between;
  margin-right: 13px;
}

.btn_right_area > .vertical_line {
  height: 25px;
  border-right: 1px solid #c6c6c6;
}

.search_location_icon {
  height: 23px;
}

/* section_9 end  */

footer {
  width: 100%;
  height: 695px;
  background-color: #000;
  padding: 68px 250px;
}

.lan_con {
  display: flex;
  justify-content: flex-end;
}

.language {
  width: 143px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 67px;
}

.language > p {
  font-size: 15px;
  font-weight: 500;
}

.language > p:nth-child(1) {
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.nav_con {
  display: flex;
  flex-direction: column;
}

.nav_con > p:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 27px;
}

.nav_con > p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 21px;
}

.sns {
  display: flex;
  flex-direction: column;
}

.sns > p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 27px;
}

.sns_icon_con {
  width: 272px;
}

.sns_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns_icons > a {
  height: 24px;
}

.sns_icons > a {
  height: 24px;
}

.sns_icons > a:nth-child(3) {
  height: 32px;
}

.sns_icons > a:nth-child(4) {
  height: 27px;
}

.sns_icons > a:nth-child(5) {
  height: 30px;
}
.sns_icons > a:nth-child(6) {
  height: 27px;
}

.policy {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.policy > p {
  font-size: 14px;
  font-weight: 300;
}

.copyright > p {
  font-size: 14px;
  font-weight: 300;
}

/* footer end  */
